<!DOCTYPE html>
<html
  lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}"
  xmlns:hx="https://github.com/wimdeblauwe/htmx-spring-boot"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
  <title>Thymeleaf and HTMX</title>
</head>
<th:block layout:fragment="content" th:fragment="content">
  <div class="catnip-wrapper" id="content">
    <head th:if="${isHxRequest == 'true'}" hx-head="merge">
      <title>Catnip</title>
    </head>
    <div class="header-wrapper">
      <h1 class="header">Catnip List</h1>
      <form
        hx-post="catnip"
        hx-swap="none"
        hx-trigger="submit"
        th:object="${catnipCreateDTO}"
        hx-on--after-request="updateList()"
      >
        <button
          class="header-button"
          type="submit" th:text="Add"
        ></button>
      </form>
    </div>
    <div class="search-wrapper" hx-target="#catnip-list" hx-swap="outerHTML">
      <input
        class="search-box" type="search"
        name="query" placeholder="Search..."
        hx-get="/catnip/list"
        hx-trigger="input changed delay:500ms, search, submit"
        hx-vals='{"page": 0}'
      >
      <div class="sort-wrapper" hx-swap="outerHTML">
        <button
          class="sort-button"
          hx-get="/catnip/list"
          hx-vals='{"sort":"id","page":0}'
        >Default
        </button>
        <th:block th:each="sortOption : ${sortOptions}" th:classappend="sort-button">
          <button
            hx-get="/catnip/list"
            hx:vals="${ {sort: sortOption, page:0} }"
          > [[${sortOption}]]
          </button>
        </th:block>
      </div>
    </div>

    <div th:replace="~{catnip/catnip-list :: list}"></div>

    <script>
      function updateList() {
        htmx.ajax('GET', '/catnip/list', {target: '#catnip-list', swap: 'outerHTML'});
      }
    </script>
  </div>
</th:block>

</html>