<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta hx-preserve="true" charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <script hx-preserve="true" src="/vendored/htmx.min.js"></script>
  <script hx-preserve="true" src="/vendored/head-support.js"></script>
  <script hx-preserve="true" src="/js/layout_scripts.js" defer></script>
  <link hx-preserve="true" rel="stylesheet" href="/css/layout_styles.css"/>
  <title>Layout</title>
</head>
<body class="scaffold" hx-ext="head-support">
<!--<div class="mainframe">-->
<!--  <nav class="sidebar" hx-push-url="true" hx-target="#content" hx-swap="outerHTML">-->
<!--    <button class="nav-button" hx-get="/">Home</button>-->
<!--    <button class="nav-button" hx-get="/catnip">Catnip</button>-->
<!--    <button class="nav-button" hx-get="/conversation">Conversation</button>-->
<!--    <button class="nav-button" id="theme-toggle">Toggle Theme</button>-->
<!--  </nav>-->
<!--</div>-->
<div layout:fragment="content" id="content">
  <p>Page content goes here</p>
</div>
<div>
  <script th:inline="javascript">
    /*<![CDATA[*/
    document.body.addEventListener('htmx:configRequest', (event) => {
      // Check if the request is NOT a htmx GET request
      if (event.detail.verb.toUpperCase() !== 'GET') {
        const csrfHeader = /*[[${_csrf != null ? _csrf.headerName : ''}]]*/ 'X-Sample-CSRF-Header';
        const csrfToken = /*[[${_csrf != null ? _csrf.token : ''}]]*/ 'sample-csrf-token';
        event.detail.headers[csrfHeader] = csrfToken;
      }
    });
    /*]]>*/
  </script>
</div>
</body>
</html>